<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>color</title>
</head>
<body>
<form action="update" method="post">
    {% for item in maps %}
    {{item.res}}
    字体颜色:
    <select name="font_{{item.res}}">
        <p>{{item.font}}</p>
        {% for color in colors %}
        {% if item.font == color %}
        <option value="{{color}}" style="color:{{color}}" selected="selected">{{color}}</option>
        {% else %}
        <option value="{{color}}" style="color:{{color}}">{{color}}</option>
        {% endif %}
        {% endfor %}
    </select>
    背景色
    <select name="bg_{{item.res}}">
        {% for color in colors %}
        {% if item.bg == color %}
        <option value="{{color}}" style="background:{{color}}" selected="selected">{{color}}</option>
        {% else %}
        <option value="{{color}}" style="background:{{color}}">{{color}}</option>
        {% endif %}
        {% endfor %}
    </select><br>
    {% endfor %}
    <input type="submit" value="提交">
</form>
</body>
</html>