<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Security-Policy">
    <script src="{{ url_for('static',filename='js/common.js') }}"></script>
    <script src="{{ url_for('static',filename='js/show_page.js') }}"></script>
    <title>修改数据</title>
    <style>
        td {
            white-space: nowrap;
        }
    </style>
</head>
<body>
<label>选择日期: </label>
<label for="date_set"></label><select id="date_set" onChange="update_page()">
    <option value="-1" selected>--选择日期--</option>
    {% for item in dates %}
    <option>{{item}}</option>
    {% endfor %}
</select><input type="button" value="保存" onclick="submit()">
</select><input type="button" value="删除" onclick="del()"><br/>
<table>
    <tr>
        <td>序号</td>
        <td><input type="text" id="xh"></td>
    </tr>
    <tr>
        <td>日期</td>
        <td><input type="date" id="rq"></td>
    </tr>
    <tr>
        <td>时间戳</td>
        <td><input type="time" id="sjc"></td>
    </tr>
    <tr>
        <td>结果</td>
        <td><select id="jg">
            {% for item in items %}
            <option>{{item}}</option>
            {% endfor %}
        </select></td>
    </tr>
</table>

<table border="1" align="left" cellspacing="0" cellpadding="0">
    <tbody id="container" style="display: flex; flex-direction: row">
    </tbody>
</table>
<script>
    settings = JSON.parse('{{settings|tojson}}')
    const _date = new Date;
    document.querySelector('#rq').valueAsDate = _date;
    document.querySelector('#sjc').value = _date.getHours() + ":" + _date.getMinutes()
    row = settings['row_num'] ? settings['row_num'] : 20;
    col = settings['col_num'] ? settings['col_num'] : 600;

    function del() {
        const date_set = document.querySelector('#date_set').value;
        const xh = document.querySelector('#xh').value;
        if (date_set === "-1") {
            return
        }
        if (xh === "") {
            alert("输入要添加或者要修改的序号")
            return
        }
        ajax_method(`{{server}}/fix?xh=${xh}`, null, "POST", update_page, true)
    }

    function submit() {
        const date_set = document.querySelector('#date_set').value;
        const xh = document.querySelector('#xh').value;
        const rq = document.querySelector('#rq').value;
        const sjc = document.querySelector('#sjc').value;
        const jg = document.querySelector('#jg').value;
        if (date_set === "-1") {
            return
        }
        if (xh === "") {
            alert("输入要添加或者要修改的序号")
            return
        }
        if (sjc === "") {
            alert("时间戳不可为空")
            return
        }
        ajax_method(`{{server}}/fix?xh=${xh}&rq=${rq}&sjc=${sjc}&jg=${jg}`, null, "POST", update_page, true)
    }

    function update_page() {
        const date_set = document.querySelector('#date_set').value;
        ajax_method(`{{server}}/pull?date=${date_set}`, null, "GET", (resp) => {
            const obj = JSON.parse(resp);
            const elm = document.querySelector("#container")
            elm.innerHTML = ""
            show_data(elm, obj.data)
        }, true)
    }

    function add_td(t_tr, _data) {
        const td = document.createElement('td')
        td.style.display = "flex"
        td.style.flexDirection = "row"
        // td.style.width = "135px"
        // td.style.fontSize = "18px"
        const d1 = document.createElement('div')
        const d2 = document.createElement('div')
        const d3 = document.createElement('div')
        d1.style.textAlign = d2.style.textAlign = d3.style.textAlign = "center"
        // d1.style.width = d2.style.width = d3.style.width = "33%"
        d3.style.borderRight = d1.style.borderRight = "solid 1px"
        d3.innerHTML = _data[0]
        d1.innerHTML = _data[2]
        if (_data[1]) {
            let cb = _data[1].split(',')
            d2.style.color = cb[0]
            d2.style.background = cb[1]
        }
        d2.innerHTML = _data[3]
        td.append(d3)
        td.append(d1)
        td.append(d2)
        t_tr.append(td)
    }
</script>
</body>
</html>